@model WhatDyaThink.Models.Question

<div>
    <dl>
        <dt>
            <label class="h3">@Model.questionText.ToString()</label>
            @Html.ActionLink("Details", "Details", "Questions", new { id = Model.questionID }, new { @class = "btn" }) |
            @Html.ActionLink("Edit", "Edit", "Question", new { id = Model.questionID }, new { @class = "btn" }) |
            @Html.ActionLink("Delete", "Delete", "Question", new { id = Model.questionID }, new { @class = "btn" })
        </dt>
    </dl>
</div>



